kivy
https://github.com/kivymd/KivyMD/archive/master.zip
opencv-python-headless
https://github.com/kivy/plyer/archive/master.zip
android-notify
buildozer
setuptools
Cython==0.29.33
netifaces
requests_toolbelt
websockets
python-osc
